<div class="center jumbotron">
  <h1>あったらいいがな、こんなとこ</h1>
  <section class="example-shops">
    <p>たとえば・・・</p>
      <div style="float:left; margin: 20px;">
        <%= image_tag 'free_panya.png', :alt => 'パン屋' %>          <figcaption>パン屋さん</figcaption>
      </div>
      <div style="float:left; margin: 20px;">          
        <%= image_tag 'free-dog.jpg', :alt => 'ペットサロン' %>
        <figcaption>ペットサロン</figcaption>
      </div>
    　<div style="float:left; margin: 20px;">
        <%= image_tag 'free-bike.jpg', :alt => '自転車修理' %>          <figcaption>自転車屋さん</figcaption>
      </div>
   　  <div style="float:left; margin: 20px;">
        <%= image_tag 'free_cafe.png', :alt => 'カフェ' %>
        <figcaption>カフェ</figcaption>
      </div>
  </section>
</div>
<section class="recruit-form">
  <p>
        募集しましょう
      </p>
</section>
