<% provide(:title, 'Post') %>
<h2>他に候補をあげる</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@post) do |f| %>
      <%= f.label :content %>
      <%= f.text_field :content %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
