@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}


/*textarea {resize: vertical;} */

.center {
  text-align: center;
}


p.resizeimage img {
  width: 100%;
  height: auto;
}


/* typography */

.jumbotron h1 {
  line-height: 1;
  font-size: 3em;
  color: #191970;
  letter-spacing: -2px;
  margin-bottom: 60px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* home */

.example-shops p {
  font-weight: bold;
  position: relative;
  padding: 0.6em;
  background: #e0edff;
  
  p:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
    border-radius: 0.5em;
  }  
}
  
figcaption {
  color: #9C9689;
  font-weight: bold;
}

.recruit-form {
  text-align: center;
  p {
    font-weight: bold;
    font-size: 2em;
  }
}

